@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-Regular.ttf'),
  url('./fonts/SourceSansPro-Italic.ttf'),
  url('./fonts/SourceSansPro-Bold.ttf'),
  url('./fonts/SourceSansPro-BoldItalic.ttf');
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: "Source Sans Pro", "Calibri Light", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
